@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500&display=swap');
@import url("https://use.typekit.net/sxh3ydu.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --color-dark: #272a31;
  --color-coral: #ec5242;
  --text-coral: #f44c06;
  --color-white: #fff;
  --bg-gray: #d3d3d3;
  --text-gray: #909090;
  --text-darkgray: #565656;
  --text-red: rgb(255, 0, 0);
}

html {
  overflow-x: hidden;
}

body {
  /* background-color: pink; */
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 10vh;
  background-color: var(--color-white);
}

header nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

nav .nav-logo {
  width: calc((100% / 2) - 30%);
  height: 100%;
  display: flex;
  flex-direction: row;
}

footer#join {
  background-color: var(--color-white);
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 20vh;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: acumin-pro, sans-serif;
}

.partner-logo img {
  width: 20%;
  height: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 100%;
  height: 100%;
}

.sponsor-main img {
  width: 30%;
  border: 1px solid var(--bg-gray);
  margin-left: 35%;
  padding: 2em;
}

#join img {
  width: 10%;
  height: 100%;
}

.footer-rights {
  display: flex;
  color: black;
  text-transform: capitalize;
  word-spacing: 4px;
  font-size: 1.5em;
  font-style: italic;
  align-items: center;
}

.nav-link {
  align-items: center;
  width: calc((100% / 2) + 30%);
  display: flex;
  justify-content: space-around;
}

.nav-link li {
  display: inline-block;
  padding: 8px;
}

.nav-link .liste {
  color: var(--text-coral);
  border: 4px solid orange;
  padding: 4px;
}

.nav-link li a {
  color: var(--text-gray);
  text-decoration: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-closebtn {
  display: none;
}

main .main-top {
  width: 100%;
  background-image: url('asset/preparation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  width: 100%;
  padding: 50px 120px;
  background-color: rgba(255, 255, 255, 0.611);
}

.message {
  width: 100%;
  text-align: center;
  padding: 2em;
}

.message h1 {
  font-size: 4em;
  text-transform: capitalize;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  color: #fa5816;
  line-height: 1;
}

.fit {
  margin: 20px 0;
  font-size: 1.5em;
  padding: 10px;
  color: var(--text-darkgray);
  width: 100%;
  line-height: 2;
  border: none;
  background-color: var(--color-white);
}

.message .date {
  width: 60%;
  margin: 0 20%;
}

.message h4 {
  font-weight: bold;
  text-decoration: underline;
}

.message h4 i {
  font-size: 0.8em;
  color: var(--text-red);
}

.sponsor-main {
  margin: 4em;
  display: flex;
  flex-direction: column;
}

.sponsor-main h2 {
  text-align: center;
  font-size: 1.8em;
}

.sponsor-main p {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin: 1.4em;
  padding: 2em;
}

hr {
  color: var(--bg-gray);
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.top-list {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.top-list h3 {
  font-size: 1.4em;
  text-align: center;
}

#start {
  margin: 1em;
  height: 60vh;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  color: var(--color-white);
  gap: 10px;
  justify-content: space-around;
  padding: 0;
}

.hamburger {
  display: none;
}

.cont {
  background-image: url(asset/img2.avif);
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  padding-top: 40%;
  height: 60%;
  background-size: cover;
}

.one {
  z-index: 10;
  color: floralwhite;
  font-size: 1em;
}

.cont::after {
  content: "";
  background-color: rgba(230, 20, 20, 0.511);
  background-size: cover;
  width: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.two {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  font-size: 1em;
  height: 60%;
  padding-top: 40%;
  background-image: url(asset/img3.avif);
}

.two::after {
  content: "";
  background-color: rgba(230, 20, 20, 0.411);
  background-size: cover;
  width: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.partners {
  background-color: var(--text-darkgray);
  padding: 10px;
}

.partnerhead {
  text-align: center;
  color: var(--text-gray);
  font-size: 40px;
}

.partner-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .background {
    padding: 1px 20px;
  }

  .logo-container {
    display: none;
  }

  .hamburger {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    height: 100%;
  }

  body {
    overflow-x: hidden;
  }

  .nav-link {
    background: var(--color-dark);
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    transition: 0.5s ease-in;
  }

  .nav-link.active {
    left: 0;
  }

  .nav-link li a {
    font-size: 2em;
    color: var(--color-white);
  }

  .menu-closebtn {
    display: flex;
    padding: 20px;
    width: 100%;
    flex-direction: row-reverse;
    font-size: 2em;
  }

  .message {
    width: 100%;
    text-align: center;
    padding: 0.8em;
  }

  .message h1 {
    font-size: 2.5em;
    text-transform: capitalize;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    color: #fa5816;
    line-height: 1;
  }

  .sponsor-main h2 {
    text-align: center;
    font-size: 1.8em;
    padding: 20px;
  }

  .sponsor-main img {
    width: 70%;
    border: 1px solid var(--bg-gray);
    margin: 0 auto;
    padding: 1em;
  }

  .sponsor-main {
    margin: 0.8em;
    display: flex;
    flex-direction: column;
  }

  .sponsor-main p {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 1.4em;
    margin: 0.4em;
    line-height: 1.8;
    padding: 0.9em;
  }

  .fit {
    margin: 20px 0;
    font-size: 19px;
    padding: 10px;
    color: var(--text-darkgray);
    width: 100%;
    line-height: 1.4;
    border: none;
    text-align: center;
    background-color: var(--color-white);
  }

  .logo {
    display: flex;
    height: auto;
    margin: 1.5em;
  }

  .top-list {
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
  }

  #start {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
  }

  .cont {
    background-image: url(asset/img2.avif);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 20%;
    height: 100%;
    margin-bottom: 20px;
    background-size: cover;
    object-fit: cover;
  }

  .one {
    z-index: 10;
    width: 100%;
    color: floralwhite;
    font-size: 1em;
  }

  .cont::after {
    content: "";
    background-color: rgba(230, 20, 20, 0.511);
    background-size: cover;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }

  .two {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    height: 100%;
    font-size: 1em;
    padding-top: 20%;
    background-image: url(asset/img3.avif);
  }

  .two::after {
    content: "";
    background-color: rgba(230, 20, 20, 0.411);
    background-size: cover;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }

  .footer-rights {
    display: flex;
    color: black;
    text-transform: capitalize;
    word-spacing: 4px;
    font-size: 0.8em;
    font-style: italic;
    align-items: center;
  }

  .partner-logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .partner-logo img {
    width: 20%;
    height: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
